    #bg-homepage{
      width:100%;
    }
    /*c'est con sinon le conteneur de la page est pas à 100%;*/
    
    .mh150{
    max-height:150px;
    }
    .h150{
    height:150px;
    }
    .mw1000{
      max-width: 1200px;
    }
    .w-100{
      width:100%;
    }
    .mx-auto{
      margin-left: auto;
      margin-right: auto;
    }
    .w-80{
      width:80%;
    }
    .w-50{
      width:50%;
    }
    .mx-auto{
      margin-left: auto;
      margin-right: auto;
    }
    .my-0{
      margin-top: 0 !important; 
      margin-bottom: 0 !important;
    }
    .px-auto{
      padding-right: 0;
      padding-left: 0;
    }
    .p-20{
      padding:20px;
    }
    .p-30{
      padding:30px;
    }
    .pl-0{
      padding-left:0px;
    }
    .pr-0{
      padding-right:0px;
    }
    .d-none{
      display : none;
    }
    .b{
      font-weight: bold;
    }
    .maj{
      text-transform: uppercase;
    }
    .justify-content-center{
      display: flex;
      justify-content: center !important;
    }

    .header-costum{
      overflow:auto;
    }
    
    .nav > li > a, a:hover, a:focus, a:active, a.active{
      color:#ffffff;
    }

    .nav > li > a:hover, a:focus, a:active, a.active{
      text-decoration : underline;
    }

    #a2k_nav_rubrique{
      background-color: #C9462C;
      color:#ffffff;
      font-size:18px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      border-bottom : 2px solid #ffffff;
    }
    
    .searchEntityContainer{
      min-height:280px !important;
      max-height:280px !important;
    }

    #a2k_page .searchEntityContainer{
      overflow: auto;
      min-height:100px !important;
      max-height:600px !important;
      padding : 0px;
    }
    #a2k_page .searchEntity {
      overflow: auto;
      margin-bottom: 20px;
      /*border-right: 1px solid #0098B6;
      border-bottom: 1px solid #0098B6;*/
    }
    .searchEntity .entityRight .entityName{
      white-space: normal;
      font-size: 16px !important;
    }
    #a2k_page .container-img-profil{
      display: block; 
      min-height:0px; 
      max-height: 400px;   
    }

    #a2k_page .dateUpdated{
      display:none;
    }

    .bodySearchContainer{
      max-width: 1200px;
      margin:auto;
      float:none;
    }

    .searchEntity .entityCenter{
      display: none;
    }

    .searchEntity .actionSocialBtn{
      display : none;
    }

    .searchEntity .dateUpdated{
      /*display: none;*/
    }
    .searchEntity .followBtn{
      display: none;
    }
    .searchEntity .btn-share{
      /*display: none;*/
    }

    .searchEntity .entityRight .entityDescription{
      font-size: 14px !important;
    }

    .searchEntity .entityRight .entityLocality{
      font-size: 14px !important;
    }

    .searchEntity .tagsContainer .badge{
      font-size: 14px !important;
    }

    #a2k_main_conteneur{
      display:block;
      overflow: auto;
    }

    #a2k_footer{
      background-color: #C9462C;
      color:#ffffff;
      font-size:12px;
      font-weight: bold;
      text-align: center;
      padding: 0 10px;
      display:block;
      overflow: auto;
   }

   .friend{
      display:flex;
      overflow: auto;
      height:100px !important;
   }

   .friend img{
      margin:auto;
      max-width:100%;
      max-height: 100px;
   }

    #a2k_left-column{
      display:block;
      overflow: auto;
    }
    #a2k_right-column{
      display:block;
      overflow: auto;
    }
    .top-separator{
      border-top: 2px solid #C9462C;
    }
    .left-separator{
      border-left: 2px solid #C9462C;
    }
    .right-separator{
      border-right: 2px solid #C9462C;
    }
    .bloc_rubrique{
      /*margin-top: 10px;
      margin-bottom: 10px;*/
      display:block;
      overflow: auto;
    }
    .titre_rubrique{
      font-size:20px;
      margin-top: 0px;
      margin-bottom: 20px;
      display:block;
      overflow: auto;
    }
    .contenu_rubrique{
      display:block;
      overflow: auto;
    }

    .badge_article{       
        border-radius: 20px;
        padding: 20px 10px;
        background-color: #0098B6 !important;
        width : 100%;
    }

    .badge_article_titre{
        font-size: 20px;
        color: white !important;
        width : 100%;
        text-transform: uppercase;
        text-align: center;
    }

    #chiffre_container .badge_article_titre{
        font-size: 36px;
    }

    .badge_article_description{
        font-size: 12px;
        color: white !important;
        width : 100%;
        text-align: center;
    }


    #openModal.portfolio-modal.modal,#ajax-modal.portfolio-modal.modal {
        background-color: rgba(0,0,0,0.5) !important;
        padding: 50px !important;
        border-radius: 10px !important;
        min-height: unset !important;
        z-index: 200000;
        /* padding-left: 0px !important; */
        top: 0px !important;
        right: 0px;
        left: 0px !important;
    }