.blockUI.blockMsg.blockPage.initScope{
	cursor:inherit !important;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    margin-bottom: 20px;
	padding-top: 3% !important;
}
.blockUI.blockMsg.blockPage img{
    margin-bottom: 20px;
    border-radius: 26%;
    height: 170px;
}
.blockUI.blockMsg.blockPage .textExplain{
	font-size: 30px;
    font-variant: small-caps;
    font-weight: 800;
    color: white;
}
.blockUI.blockMsg.blockPage .selectedCity{
	font-size: 30px;
    font-variant: small-caps;
    top: 65px !important;
    position: absolute;
    font-weight: 800;
}
.blockUI.blockMsg.blockPage .init-selector-city{
    padding: 20px 10px;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 22px;
    width: 30%;
    margin-left: 1%;
    /*background-color: #aa4420 !important;*/
    /*background-image: url(/ph/assets/449afa38/images/city/cityDefaultHead_BW.jpg);*/
}

.blockUI.blockMsg.blockPage .init-selector-city:hover{
    border-radius: 10px;
    font-size: 22px;
    border: 4px solid #aa4420 !important;
    color: #aa4420 !important;
    background-color: white !important;
}

.blockUI.blockMsg.blockPage .init-selector-city  img {
    /* margin-bottom: 20px; */
    border-radius: 0px;
    padding: 10px;
    height: 190px;
    width: 100%;
}
.scopes-container .scope-order{
    border: 2px solid transparent;
    background-color: rgba(163, 74, 8, 0.7);
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white !important;
    text-decoration: none;
}
.scopes-container .scope-order.active{
    background-color:#a34a08;
}
.scopes-container .scope-order:hover{
    border: 2px solid rgba(163, 74, 8, 0.5);
    text-decoration: none !important;
}
.scopes-container .scope-order i{
    margin-right: 3px;
}
.item-scope-checker:hover{
    border: none !important;
}
.scopes-container .scope-order span{
    text-decoration: none !important;
}
.scopes-container .scope-order .active{
    background-color: #a34a08;
    color: white;
}
@media (max-width: 768px){
.blockUI.blockMsg.blockPage .init-selector-city{
    margin-left: 16.66666667%;
    width: 66.66666667%;
    margin-bottom: 2px;
}
.blockUI.blockMsg.blockPage .init-selector-city img{
    display:none;
}
}